
<html>
        <head>
            <title>Not Found | 404</title>
            <script async defer src="https://buttons.github.io/buttons.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
            <style>
            @import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500;700&display=swap');
            
            * {
                box-sizing: border-box;
            }
            
            body {
                min-height: 100vh;
                margin: 0;
                display: flex;
                flex-direction: column;
                gap: 10px;
                justify-content: center;
                align-items: center;
                background-color: #042940;
                padding: 0px 0px 0px 0px;
                font-family: 'Prompt', sans-serif;
            }

            h2 {
                display: inline-block;
                width: 1200px;
                padding: 10px 20px 10px 20px;
                color: #fff;
                background-color: #e91e63;
                font-family: 'Prompt', sans-serif;
            }

            header .container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                top: 0;
                left: 0;
                width: 1200px;
            }

            .logo {
                font-family: 'Prompt', sans-serif;
                font-size: 4.5rem;
                color: #DBF227;
                user-select: none;
            }
            
            .logo strong {
                color: #9FC131;
            }

            .subtitle {
                color: #fff;
                user-select: none;
                font-size: 2rem;
            }
            </style>
        </head>
        <body>
            <span class="subtitle">Not found | 404</span>
            <br/>
            <a class="github-button" href="https://github.com/kubastanclik/mvcjs" aria-label="Follow MCVJS on github.com">Follow</a>
        </body>
    </html>   